body {
    padding: 20px;

    &.vscode-dark {
        .ip-view>pre {
            background-color: #181818;
            color: #cccccc;
        }
    }

    &.vscode-light {
        .ip-view>pre {
            background-color: white;
            color: black;
        }
    }
}

.ip-view {
    &>.btn {
        width: 70px;
        line-height: 30px;
        border-radius: 5px;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        background-color: rgb(0, 87, 162);
        color: white;
        outline: none;
        border: none;
    }

    &>pre {
        width: calc(100vw - 100px);
        height: calc(100vh - 100px);
        padding: 10px;
    }
}