body {
    width: 100vw;
    height: 100vh;
    padding: 0;

    // 深色主题
    &.vscode-dark {
        background-color: #1f1f1f;
        color: #cccccc;
    }

    // 浅色主题
    &.vscode-light {
        background-color: #f5f5f5;
        color: black;
    }
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}