<div class="entry-view">
    <div class="logo" style="background-image: url(${images}/OI.png);"></div>
    <header><span> OI 小助手</span>
        <div>(版本：<span>${version}</span>)</div>
    </header>
    <div class="btn-list">
        <a class="btn link" href="https://github.com/oi-contrib/oi-vscode-helper" target="_blank">访问源码</a>
        <span class="btn open" onclick="openPage('welcome')">启动应用</span>
    </div>
</div>
<div class="calendar-view">
    <div class="content" id="content-id"></div>
</div>