<div class="tool-list">
    <div class="title">
        工具列表
    </div>
    <ul>
        <li onclick="openPage('ip','本机网络查询')">
            <img src="${images}/ip.png" />
            <span>
                本机网络查询
            </span>
        </li>
        <li onclick="openPage('fan2jian','简繁体互转')">
            <img src="${images}/fan2jian.png" />
            <span>
                简繁体互转
            </span>
        </li>
    </ul>
</div>
<div class="notes-view">
    <textarea placeholder="可以写入一些备忘内容，会持久化保存在本地～" id="textarea1" oninput="saveNoteData(event,'textarea1')"></textarea>
    <textarea placeholder="可以写入一些备忘内容，会持久化保存在本地～" id="textarea2" oninput="saveNoteData(event,'textarea2')"></textarea>
</div>